.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  width: 960px
}
.Planet {
  font-size: 40px;
}
.center {
  text-align: center;
  margin: auto;
}
.t1{
    text-align: left;
}
.t2{
    text-align: center;
}
.t3{
    text-align: right;
}
.t4{
    text-align: end;
}
.t5{
    text-align: start;
}
p{
    font-size: 16px;
}
h3{
    font-size: 32px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
h3{
    text-align: center;
}
.ven{
    text-align: left;
}
.right {
    text-align: right;
}