.body {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.body {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.body {
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.body {
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-style: italic;
}

:root {
  --main-text-color: #000;
  --main-text-color-second: #fff;
  --secondary-text-color: #f90;
  --text-decoration-color: #ffe600;
  --font-family: "Philosopher", sans-serif;
  --secondary-section-bg: #f6fdee;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 16px
}
body {
  min-height: 1080px;
  margin: 0;
  font-family: var(--font-family);
}
/* header */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./img/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 141.9px;
}
/* header-pu */
.header-pu {
  display: flex;
  justify-content: space-between;
}
.header-pu .logo {
  color: var(--main-text-color-second);
  font-size: 40px;
  font-weight: 400;
}
.header-pu span {
  color: var(--secondary-text-color);
}

.header-pu .header-button a {
  color: var(--secondary-text-color);
}
.header-pu nav,
.header-pu .header-button {
  margin-top: 10px;
}
nav a {
  color: var(--main-text-color-second);
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 1.35rem;
}
.active {
  color: var(--secondary-text-color);
}
/* header-main */
.header-main {
  margin: 320px 192px;
  display: flex;
  justify-content: space-between;
  gap: 181px;
}
.header-main .header-text {
  color: var(--main-text-color-second);
  text-align: right;
  font-size: 5rem;
  font-weight: 400;
  width: 27.3125rem;
}
.header-main .header-text span {
  color: var(--secondary-text-color);
}
.header-main .text {
  color: var(--main-text-color-second);
  width: 646px;
  font-size: 34px;
  font-weight: 400;
}
.header-main .text span {
  color: var(--secondary-text-color);
  display: block;
  text-align: right;
}
/* page-1 */
section.page-1 {
  padding: 7.5rem 8.88rem;
  background-color: var(--secondary-section-bg);
}
.page-1 .header-text {
  color: var(--main-text-color);
  font-size: 40px;
  font-weight: 700;
}
.page-1 .header-text span {
  color: var(--secondary-text-color);
}
.s-text{

    text-align: right;
    margin-top: 35px;
}
.s-text a{
    color: var(--main-text-color);
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}
.s-text a::after{
    content: "";
    display: block;
    margin-left: auto;
    width: 6.7rem;
    height: 0.3125rem;
    background: var(--text-decoration-color);
}
.page-1 .grid {
  margin: 4.37rem 0 2.2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 9.9rem);
  grid-column-gap: 4.2rem;
}
.grid-it:nth-child(1) {
  background: url("img/page-1/vintage1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-row-start: 1;
  grid-row-end: 4;
}
.grid-it:nth-child(2) {
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  width: 15.875rem;
  margin: auto;
}
.grid-it:nth-child(3) {
  background: url("img/page-1/vintage3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-row-start: 1;
  grid-row-end: 4;
}
.grid-it:nth-child(4),
.grid-it:nth-child(6) {
  width: 19.0625rem;
  margin: auto 0;
}
.grid-it:nth-child(5) {
  background: url("img/page-1/vintage2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-row-start: 2;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 3;
}
.grid-it:nth-child(7) {
  background: url("img/page-1/vintage4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 2;
}
.grid-it:nth-child(8) {
  background: url("img/page-1/vintage5.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 4;
}
.grid-it .yellow-text{
    color: var(--secondary-text-color);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
}
.grid-it .text-main{
    color: var(--main-text-color);
    font-size: 1.125rem;
    font-weight: 400;
}
.grid .s-text{
  grid-column-start: 3;
  grid-column-end: 4;
}

/* page-2 */
section.page-2 .wrapper{
  padding: 7.5rem 8.88rem;
}
.page-2 .header-text{
  color: var(--main-text-color);
  font-size: 2.5rem;
  font-weight: 700;
}
.page-2 .header-text span{
  color: var(--secondary-text-color);
}
.page-2{
  position: relative;
 
  padding-bottom: 45px;
  margin: 0;
}
.page-2::after{
  content: "";
  display: block;
  width: 100%;

  position: absolute;
  top: 17rem;
  bottom: 17rem;
  border-top: 0.3125rem solid var(--secondary-text-color);
  border-bottom: 0.3125rem solid var(--secondary-text-color);
  background-color: transparent;
  z-index: -1;
}
/* page-2-grid */
.grid2{
  margin: 4.5rem 0 1.87rem 0;
  display: grid;
  width: 100%;
  height: 31.25rem;
  align-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 4.12rem;
}
.grid-it2{
  
  padding: 4.37rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-content: end;
}
.grid-it2 .header-text{
  color: var(--main-text-color-second);
  font-size: 1.5rem;
  font-weight: 700;
}
.grid-it2 .header-text::after{
  content: "";
  display: block;
  width: 5.875rem;
  height: 0.3125rem;
  background: var(--text-decoration-color);
}
.grid-it2 .main-text{
  color: var(--main-text-color-second);
  font-size: 1.125rem;
  font-weight: 700;
  width: 90%;
}
.grid-it2:nth-child(1){
  background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url(".//img/page-2/section2-img1.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-it2:nth-child(2){
  background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("./img/page-2/section2-img2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-it2:nth-child(3){
  background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("./img/page-2/section2-img3.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.grid-it2:nth-child(4){
  background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url("./img/page-2/section2-img4.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* page-3 */
.page-3{
  padding: 7.5rem 13.88rem 0 8.81rem;
  min-height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("./img/parallax-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.page-3 .header-text{


  color: var(--main-text-color);
  font-size: 2.5rem;
  font-weight: 700;
}
.page-3 .header-text span{
  color: var(--secondary-text-color);
}
.parallax-text .main-text{
  color: var(--main-text-color);
  font-size: 1.125rem;
  font-weight: 400;
  width: 35.375rem;
}
.parallax-text .s-text a::after{
  width: 7.5rem;
}
.grid3{
  display: grid;
  width: 100%;
  margin: 4.62rem auto;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.grid3 .parallax-text{
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.grid3 .airship img{
  width: 35.4375rem;
  height: 23.625rem;
}
/* page-4 */
.page-4{

  
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.page-4 .wrapper{
  padding: 7.5rem 8.88rem 7.53rem 10.12rem;
}
.page-4 .header-text{
  color: var(--main-text-color);
  font-size: 2.5rem;
  font-weight: 700;
}
.page-4 .header-text span{
  color: var(--secondary-text-color);
}
.page-4 .s-text a::after{
  width: 8.1rem;
}
.page-4::after{
  content: "";
  display: block;
  

  position: absolute;
  width: 100%;
  top: 17rem;
  bottom: 17rem;
  border-top: 0.3125rem solid var(--secondary-text-color);
  border-bottom: 0.3125rem solid var(--secondary-text-color);
  background-color: transparent;
  z-index: -1;
}
/* page-4-grid */
.grid4{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  gap: 1.25rem;
  margin: 3.13rem auto 0 auto;
  margin-bottom: 2.19rem;
}
.grid4 .grid-it4 img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.grid4 .grid-it4.inside1{
  display: grid;
  align-items: stretch;
  grid-template: 
  "img1 img1"
  "img2 img3"
  "img4 img4";
  gap: 1.25rem;
  justify-content: space-between;
  align-content: space-between;
}
.grid4 .grid-it4.inside1 img:nth-child(1){
  grid-area: img1;
}
.grid4 .grid-it4.inside1 img:nth-child(2){
  grid-area: img2;
}
.grid4 .grid-it4.inside1 img:nth-child(3){
  grid-area: img3;
}
.grid4 .grid-it4.inside1 img:nth-child(4){
  grid-area: img4;
}
.grid4 .grid-it4.inside2{
  display: grid;
  grid-template: 
  "img1 img1 img1"
  "img2 img3 img5"
  "img2 img4 img5";
  align-items: stretch;
  gap: 1.25rem;
  justify-content: space-between;
  align-content: space-between;
  
}
.grid4 .grid-it4.inside2 img:nth-child(1){
  grid-area: img1;
}
.grid4 .grid-it4.inside2 img:nth-child(2){
  grid-area: img2;
}
.grid4 .grid-it4.inside2 img:nth-child(3){
  grid-area: img3;
}
.grid4 .grid-it4.inside2 img:nth-child(4){
  grid-area: img4;
}
.grid4 .grid-it4.inside2 img:nth-child(5){
  grid-area: img5;
}

/* page-5 */
.page-5{
  padding: 7.5rem 6.5rem 7.5rem 10.12rem;
  background-color: var(--secondary-section-bg);
  min-height: 100vh;
}
.page-5 .header-text{
  color: var(--main-text-color);
  font-size: 2.5rem;
  font-weight: 700;
}
.page-5 .header-text span{
  color: var(--secondary-text-color);
}
/* page-5-gird */
.grid5{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5.6rem;
  margin-top: 5.75rem;
  justify-content: space-between;
  align-items: stretch;
}
.grid5 .grid-it5 img{
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.grid5 .grid-it5.inside1{
  display: grid;
  grid-template-columns: auto;
  align-content: space-between;
  justify-items: center;
}
.grid5 .grid-it5.inside2{
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
}
/* footer */
footer{
  min-height: 100vh;
  background: url("./img/footer-banner.png");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 10.12rem 8.87rem 2.44rem 10.13rem;
}
footer .footer-up, footer .footer-main .text{
  color: var(--main-text-color);
  font-size: 2.5rem;
  font-weight: 700;
} 
footer .footer-up span, footer .footer-main .text span{
  color: var(--secondary-text-color);
  font-size: 2.5rem;
  font-weight: 700;
}
footer .footer-main{
  margin-top: 7.5rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 4.25rem;
}
/* footer-grid */
footer .footer-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 3.87rem;
  grid-column-gap: 4.25rem;
}
footer .footer-grid .london, 
footer .footer-grid .dubai, 
footer .footer-grid .paris, 
footer .footer-grid .newyork{   
  color: var(--main-text-color);
  font-size: 1.875rem;
  font-weight: 400;
}
footer .footer-grid .header-text{   
  font-weight: 700;
  margin-bottom: 2.5rem;
}
/* mail */
footer .footer-grid .mail{
  grid-column: 2/4;
}
footer .footer-grid .mail .h-mail{
  color: var(--main-text-color);
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1.32rem;
}
footer .footer-grid .mail form input{
  border: none;
  border-bottom: 0.0625rem solid var(--main-text-color);
  width: 100%;
  padding: 0.3rem 0 0.62rem 0;
  color: var(--main-text-color);
  font-family: Philosopher;
  font-size: 1.875rem;
  font-weight: 400;
  background: transparent;
}
footer .footer-grid .mail form input::placeholder{
  color: var(--main-text-color);
  font-family: Philosopher;
  font-size: 1.875rem;
  font-weight: 400;
}
footer .footer-grid .mail form button{
  border-radius: 0.3125rem;
  background: var(--secondary-text-color);
  border: none;
  font-family: Philosopher;
  color: var(--main-text-color);
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1.13rem 4.19rem;
  display: block;
  margin-left: auto;
  margin-top: 3.13rem;
}
footer .footer-grid .mail form button:hover{
  background: rgb(201, 128, 18);
  cursor: pointer;
}
/* footer-down */
footer .footer-down hr{
  margin: 5.62rem 0 2.5rem 0;
  border: 0.0625rem solid var(--main-text-color);
}
footer .footer-down .footer-down-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--main-text-color);
  font-size: 1.125rem;
  font-weight: 701;
}
footer .footer-down .footer-down-grid .footer-down-grid-it:nth-child(2){
  text-align: right;
}