* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
:root {
  --main-font-family: "Inter", sans-serif;
  --main-font-weight: 400;

  --background-color: rgba(0, 0, 0, 0.25);
  --secondary-color: rgba(249, 203, 40, 1);
  --third-color: white;
  --background: rgba(241, 239, 254, 1);
  --color: rgba(12, 13, 31, 0.5);
}
.container {
  width: 860px;
  margin: 0 auto;
  padding: 80px 0;
}
div.personal_block {
  padding-bottom: 40px;
}
.fix::after {
  content: "";
  clear: both;
  display: table;
}
/* div.about {
  vertical-align: top;
  display: inline-block;
  width: 646px;
  padding-left: 40px;
} */
div.photo_block {
  position: relative;
  display: inline-block;
  width: 209px;
  height: 321px;
}
div.photo_block img {
  position: absolute;
  width: 209px;
  height: 321px;
}
.text_img {
  display: inline-block;
  width: 191px;
  margin: 11px 8px;
  position: absolute;
  bottom: 0;
  font-size: 12px;
  border-radius: 15px;
  font-family: "Inter", sans-serif;
  color: var(--third-color);
  background-color: var(--background-color);
}
.text_img h2 {
  font-size: 16px;
  color: var(--third-color);
}
.text_img h3 {
  font-size: 14px;
  margin: 4px 0 8px 0;
  color: var(--secondary-color);
}
div.text_img div {
  padding: 8px;
}
.block {
  border-radius: 10px;
  background: var(--background);
}
.padding {
  padding: 16px 24px;

  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0%;
  text-align: left;
  font-family: "Inter", sans-serif;
}
.list_hor {
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  color: var(--color);
}
ul.list_hor li {
  display: inline-block;
  padding-right: 20px;
}
div.padding p {
  padding-top: 20px;
  font-size: 14px;
  font-weight: 400;
}
/* div.about h2 {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
} */

/* div.bottom {
  padding-top: 32px;
} */
/* div.als_block {
  margin-right: 58px;
} */
/* div.als_block, */
/* .div.can_block {
  width: 271.5px;
  display: inline-block;
  vertical-align: top;
} */
.ul.list_vert {
  padding: 5px 0;
  padding-left: 30px;
  list-style: none;
  font-size: 14px;
}
ul.list_vert li {
  padding: 3px;
  position: relative;
  width: 169px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0%;
  text-align: left;
}
ul.list_vert li:first-of-type {
  padding-bottom: 3px;
}
ul.list_vert li:last-of-type {
  padding-top: 4px;
}
div.als_block li::before {
  position: absolute;
  content: url("./img/goals_icon.png");
  left: -20px;
}
div.can_block li::before {
  position: absolute;
  content: url("./img/cancel_icon.png");
  left: -20px;
}
.bottom {
  grid-area: goal;
}
.about {
  width: 71%;
  display: grid;
  grid-template-areas:
    "top top"
    "goal frust";
}
.can_block {
  margin-left: 4.85rem;
  grid-area: frust;
}
.about-user {
  grid-area: top;
}
.als_block {
  grid-area: goal;
}

