.body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
:root {
  --main-font-family: "Nunito Sans", sans-serif;
  --main-font-weight: 400;
  --secondary-font-family: "Roboto", sans-serif;
  --main-color: black;
  --secondary-color: rgb(242, 153, 74);
  --third-color: rgb(63, 154, 183);
}
header {
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
  /* padding-left: 9.688rem;
  padding-right: 9.688rem; */

  background-color: white;
}
main {
  /* width: 1614px;
  margin: 0 auto; */
}
.container{
  max-width: 1170px;
  margin: 0 auto;
}
.header-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text h1 {
  margin: 0;
  font-size: 32px;
  font: 900;
  font-family: "Roboto", sans-serif;
}

.header-links {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* padding-left: 18.688rem; */

  font-family: "Nunito Sans", sans-serif;
  font-size: 19px;
  font: 400;
}
.header-Category {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 48px;
  /* padding-left: 279px; */
  font-family: "Nunito Sans", sans-serif;
  font-size: 19px;
  font: 400;
  justify-content: flex-end;
}

.header-links li {
  margin-right: 3.25rem;
  cursor: pointer;
}

.search-icon {
  /* margin-left: 23px; */
  /* cursor: pointer; */
  /* padding-right: 155px; */
  /* padding-left: 1.563rem; */
  /* margin-right: 92px; */
  justify-content: end;
}
/* .home-d {
  position: absolute;
  padding-left: 28.125rem;
  margin-top: 10px;
} */
/* .home-dot {
  display: flex;
  width: 8px;
  height: 8px;
  background-color: var(--secondary-color);
  border-radius: 50%;

} */

li {
  position: relative; 
  padding-bottom: 8px; 
}
li::after {
  content: "";
  position: absolute;
  left: 20px;
  top: 70%; 
  width: 6px;
  height: 6px;
  background-color: transparent;
  border-radius: 50%; 
  transition: background-color 0.3s ease; 
}
li:hover::after {
  background-color: orange; 
}
.otst {
  width: 55%;
  margin: 0 auto;
    margin-top: 0px;
  display: flex;
  justify-content: space-between;
  margin-top: 125px;
}
.cont {
  display: flex;
  justify-content: space-between;
}
.foto {
  height: 100%;
  /* width: 450px;
  height: 633px; */
}
.Work {
  /* Work Space */
  /* position: absolute; */
  padding-left: 179px;
  color: rgb(242, 153, 74);
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  text-align: left;
  padding-right: 8.5rem;
  /* border-right: 1px solid rgb(51, 51, 51); */
  /* height: 455px; */
}
.containr::before {
  content: "";
  position: absolute;

  top: 229px;
  bottom: 346px;
  left: 50%;
  margin-left: 592px;
  border-left: 2px solid black;
  transform: translateX(-50%);
}

.fa-plus {
  color: var(--third-color);
  font-size: 11px;
  margin-left: 380px;
  /* visibility: hidden; */
}
.text-block h3:hover {
  .fa-plus {
    visibility: visible;
  }
}
/* .fa-plus {
  display: flex;
  position: absolute;
  font-size: 25px;
  color: blue;
} */
.H1 {
  /* Modern Design work space */
  /* position: absolute; */
  width: 653px;
  height: 256px;

  top: 30px;
  bottom: 34.938rem;
  color: rgb(0, 0, 0);
  font-family: "Nunito Sans";
  font-size: 65px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: 1px;
  text-align: left;
}
.yellow-line {
  /* position: relative; */
  /* margin-top: 132px; */
  width: 230px;
  height: 6px;
  border-radius: 4px;
  background: rgb(242, 153, 74);
}

.vertical-line {
  border-left: 1px solid black; /* цвет и толщина линии */
  height: 400px; /* высота линии */
  padding-right: 250px;
}
.icons {
  padding-right: 350px;
}
.Lorem {
  /* position: absolute; */
  width: 421px;
  /* height: 416px; */
  /* left: 755px; */
  margin-top: 20px;
  color: rgb(79, 79, 79);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;

  letter-spacing: 1px;
  text-align: left;
}

.fa-circle-play {
  color: #3f9ab7;
  margin-top: 35px;
  font-size: 85px;
}
.video {
  margin-left: 120px;
  margin-top: -55px;
  /* width: 118px;
height: 22px; */
  left: 801px;
  right: 521px;
  top: 721px;
  bottom: 257px;
  color: rgb(0, 0, 0);
  font-family: Nunito Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1px;
  text-align: left;
}
.end {
  /* width: 1440px; */
  margin-top: 51px;
  height: 118px;
  background-color: #3f9ab7;
}
.foto-small {
  padding-top: 30px;
  border-radius: 50%;
  margin-left: 689px;
  margin-right: -50px;
}
.client {
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 20px;
  padding-left: 291px;
  margin-top: -35px;
}
/* .radius{
  border-radius: 50% !important;
} */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--third-color);
  padding: 2rem 0;
  margin-bottom: 2.8rem;
  color: white;
  font-family: var(--main-font-family);
  margin-top: 61px;
}
.f-block {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 50%;
}
.f-block img {
  margin-left: -20px;
}
.f-block p {
  padding-left: 2rem;
  font-weight: var(--main-font-weight);
  font-size: 20px;
}
.f-block span {
  font-weight: 700;
  font-size: 24px;
}

.radius {
  border-radius: 50% !important;
}
.s_media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 439px;
}
.s_media a {
  text-decoration: none;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  transition: all 0.3s ease;
}

.s_media a:hover {
  color: white;
  background-color: rgb(242, 153, 74);
  border-radius: 100%;
}
.s_media_or {
  color: white;
  background-color: rgb(242, 153, 74);
  border-radius: 100%;
}
