@media (max-width: 1080px) {
  .header-text {
    align-items: center;
    flex-wrap: wrap;
    display: flex;
   
  }
  .header-links {
    display: flex;
    padding-top: 12px;
    margin-left: -274px;
  }

  .home-d {
    position: absolute;
    padding-left: 11.125rem;
    margin-top: 50px;
  }
  .header-Category {
    flex-wrap: wrap;
    margin-top: 12px;
    padding-left: 9px;
       
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;
    padding-left: 9.688rem;
    padding-right: 37.688rem;
  
    background-color: white;
  }
  .search-icon {
    /* flex-wrap: wrap; */
    margin-top: 12px;
    /* margin-right: 635px; */
  }
  .Work {
    /* padding-left: 0px;
    padding-top: 0px;
    height: 0px; */
  }
  .Work {
    padding-left: 0px;
    color: rgb(242, 153, 74);
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: left;
    padding-right: 8.5rem;
    border-right: 1px solid rgb(51, 51, 51);
    height: 408px;
    width: 350px;
  }
  .foto {
    height: 83%;
    margin-left: -134px;
  }
  .fa-plus {
    color: var(--third-color);
    font-size: 11px;
    margin-left: 187px;
  }

  .foto-small {
    padding-top: 30px;
    border-radius: 50%;
    margin-left: 420px;
    margin-right: -50px;
  }
  .client {
    font-family: "Nunito Sans";
    font-weight: 400;
    font-size: 20px;
    padding-left: 625px;
    margin-top: -35px;
  }
  .H1{
    font-size: 52px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: left;
    height: 180px;
    width: 437px;
  }
  .s_media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 350px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--third-color);
  padding: 2rem 0;
  margin-bottom: 2.8rem;
  color: white;
  font-family: var(--main-font-family);
  margin-top: 61px;
  width: 63.8rem;}
.f-block {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 50%;
    margin-left: -41px;
  }
}

