@media screen and (max-width: 1650px) {
  header {
    flex-wrap: wrap;
  }
  section {
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 3rem;
  }
  .main-photo,
  .content {
    width: 100%;
  }
  .content {
    padding-top: 1rem;
  }
  .m-text {
    padding-right: 0.5rem;
  }
  .m-text h1 {
    font-size: 35px;
  }
  .m-text p {
    padding-top: 3.3rem;
  }
  .m-text p::before {
    top: 2.4rem;
  }
  .home-dot {
    margin-left: -6rem;
  }
}
@media screen and (max-width: 800px) {
  header {
    flex-wrap: wrap;
  }
  section {
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 3rem;
  }
  .main-photo,
  .content {
    width: 100%;
  }
  .content {
    padding-top: 1rem;
  }
  .m-text {
    padding-right: 0.5rem;
  }
  .m-text h1 {
    font-size: 35px;
  }
  .m-text p {
    padding-top: 3.3rem;
  }
  .m-text p::before {
    top: 2.4rem;
  }
  .home-dot {
    margin-left: -28rem;
  }
}
